NEXT_PUBLIC_CONVEX_URL=

NEXT_PUBLIC_HEXCLAVE_PROJECT_ID=
NEXT_PUBLIC_HEXCLAVE_PUBLISHABLE_CLIENT_KEY=
HEXCLAVE_SECRET_SERVER_KEY=

DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_ENVIRONMENT=test_mode
DODO_CREATOR_MONTHLY_PRODUCT_ID=
DODO_CREATOR_YEARLY_PRODUCT_ID=
DODO_GROWTH_MONTHLY_PRODUCT_ID=
DODO_GROWTH_YEARLY_PRODUCT_ID=
DODO_AGENCY_MONTHLY_PRODUCT_ID=
DODO_AGENCY_YEARLY_PRODUCT_ID=
